/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* WHITE SPACE SYSTEM (px)
16 / 32 / 48 / 64 / 80 / 96 / 128 */

/*
MAIN COLOR: #8B8B6B
ACCENT COLOR: #5F7986
GREY COLOR: #B0ADA3 #C7C7BE #3c3c39
*/

/* Tints: #eeeeec #d1d1c4 #e8e8e1 #f3f3f0
Shades: #6f6f56*/

/*
RED: #ff0000 draws a lot of attention, and symbolizes power, passion, and excitement 

ORANGE: #ffa500 is less aggressive, and conveys happiness, cheerfulness, and creativity

YELLOW: #ffff00 means joy, brightness, and intelligence

GREEN: #008000 represents harmony, nature, growth, and health

BLUE: #0000ff is associated with peace, trustworthiness, and professionalism 

PURPLE: #800080 conveys wealth, wisdom, and magic

PINK: #ffc0cb represents romance, care, and affection

BROWN: #a52a2a is associated with nature, durability and comfort

BLACK: #000 symbolizes power, elegance and minimalism, but also grief and sorrow
*/
